.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
    
    footer {
        height: 70px;
        background-color: rgb(24, 24, 24);
        width: 100vw;
        color: white;
        display: flex;
        align-items: center;
    }
}
