.transfer-funds {
    margin-bottom: 20px;
    box-shadow: 0 0 11px #0000002b;
    padding: 10px;
    h1 {
        margin:  0 0 10px 0;
    }
    .user-msg {
        margin-top: 10px;
        color: red;
    }
}