:host {
    display: flex;
    justify-content: center;
    .signup-page {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 200px;
    }
}