<section [routerLink]="['/contact',contact._id]" class="contact-preview">
    <img src="https://robohash.org/{{contact._id}}?set=set4" alt="">
    <section class="info">
        <p>Name: {{contact.name}}</p>
        <p>Phone: {{contact.phone}}</p>
        <p>Email: {{contact.email}}</p>
    </section>
    <section (click)="$event.stopPropagation()" class="actions">
        <a [routerLink]="['edit', contact._id]">Edit</a>
        <button (click)="onRemove.emit(contact._id)" class="remove-btn">X</button>
    </section>
</section>