.contact-preview {
    background: #03a8f470;
    box-shadow: 0 0 11px #0000002b;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 500px;
    cursor: pointer;
    .info {
        padding: 10px;
        flex-grow: 1;
        gap: 15px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    img {
    
        height: 100px;
    }
    
    // .actions {
    //     align-self: flex-end;
    //     a,button {
    //         margin-inline-end: 10px;
    //     }
        
    // }
}